.title-cards{
    margin-top:50px;
    margin-bottom: 30px;
}

.title-cards h2{
    margin-bottom: 8px;
}

.cards-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.cards-list::-webkit-scrollbar{
    display: none;
}

.cards-list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.cards-list .card{
    position: relative;
}

.cards-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff;
}

@media(max-width:800px){
    .title-cards{
        margin-top: 20px;
        margin-bottom: 0;
    }

    .title-cardsh2{
        font-size: 20px;
    }

    .cards-listimg{
        width: 200px;
    }

    .cards-list p{
        font-size: 12px;
    }
}


@media(max-width:500px){
    .title-cards{
        margin-top:150px;
        margin-bottom: 0;
    }

    .title-cardsh2{
        font-size: 165px;
    }

    .cards-listimg{
        width: 200px;
    }

    .cards-listp{
        font-size: 10px;
    }
}
 